<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t(".content",link_1: link_to(t(".link1"), Settings.railstutorial),link_2: link_to(t(".link2"), Settings.book),link_3: link_to(t(".link3"), Settings.screencast_series),link_4: link_to(t(".link4"), Settings.RubyonRails)).html_safe %>
</p>
